<div class="navbar">
<!--     <img src="images/logoprice.png" class = "logo"> -->
  <div class="logo-phrase">priceit</div>
<!--     <div class="phrase"> input value is equal to placeholder value by default. </div>
 -->
  <li class="form-group" id="navbar-research">
    <input type="text" class="form-control" id="navbar-research-inside" placeholder="research company">
  </li>
<!--
  <datalist id = "companies">

<option value="Alphabet">
<option value="Amazon">
<option value="Apple">
<option value="Microsoft">
<option value="Yahoo">







  </datalist> -->

<!--     <div class="navbar-price-round" id="final_price">0</div>
 -->
  <div class="about-section hidden-xs hidden-sm"> <span class= "title"> About</span>
    <span id="about-elliot">
    <img src="images/Shanghai1.png" class = "avatar-photo">
    <div class="about-text">
    <strong>Elliot Seror</strong>  founded Priceit in September 2017. He is currently working in a London-based VC after studies in Finance.
    </div>
    </span>
  </div>
</div>
